/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.pad-bot-20{
    padding-bottom: 20px;
}

/* TITOLO */
body{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
    margin: 30px 0px;
    text-transform: uppercase;
}
/* MAIN */
.carrello-container{
    width:60%;
    margin: auto;
 


}
.carrello{
    display: flex;
    justify-content: space-between;
   
    padding-top: 100px;
}
.prodotti{
    width: 80%;
}
.tot-price h3{
    border-top: 1px solid orange;
    padding-top: 15px;

}
.col-price{
    color: lime;
}